:root {
	--border: #5bc0de;
	--background: #fcfcfc;
	--correct: #198754;
	--incorrect: #dc3545;
	--barMenu: #333;
	--update: #fde71e;
	--modal: rgba(51, 51, 51, 0.2);
	--colorHolder: #757574;
}
html[data-theme='dark'] {
	--modal: rgba(252, 252, 252, 0.1);
	--border: #18316a;
	--background: #333333;
	--barMenu: #fcfcfc;
}
@media (prefers-color-scheme: dark) {
	:root {
		--border: #18316a;
		--background: #333;
		--barMenu: #fcfcfc;
		--modal: rgba(252, 252, 252, 0.1);
	}
	html[data-theme='light'] {
		--modal: rgba(51, 51, 51, 0.2);
		--border: #5bc0de;
		--background: #fcfcfc;
		--barMenu: #333;
	}
}
html {
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (2500 - 320));
}
@media screen and (min-width: 2560px) {
	html {
		font-size: calc(16px + (38 - 16) * (100vw - 480px) / (2560 - 480));
	}
}
#root {
	width: 100%;
	height: 100%;
}
.hiddenScroll {
	overflow: hidden;
}
