.menu {
	max-width: 20em;
	min-width: 50%;
	margin: 0 auto;
}
.menu__info {
	margin: 0;
	padding: 5px;
	text-align: end;
}
.menu__content {
	width: 20em;
	height: 3.125em;
	position: relative;
	font-size: 1rem;
	border-radius: 0.3125em;
	border: 0.125em solid var(--border);
	background: var(--background);
}
@media screen and (min-width: 768px) {
	.menu__content {
		width: 100%;
	}
}
.menu__contentBtn {
	width: 3.125em;
	height: 100%;
}
@media screen and (min-width: 768px) {
	.menu__contentBtn {
		display: none;
	}
}
.menu__contentUser {
	width: 3.75em;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.menu__user {
	width: 2.5em;
	height: 2.5em;
	position: relative;
	border-radius: 50%;
	border: 0.125em solid var(--border);
	background: var(--background);
}
.menu__user--salir {
	padding: 0.625em;
}
.menu__user::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.menu__contentOptions {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__useOption {
	width: 100%;
	position: absolute;
	top: 3.125em;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-0.625em);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
}
.menu__useOption--show {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.menu__useUl {
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.625em;
	border-radius: 0.3125em;
	border: 0.125em solid var(--border);
	background: var(--background);
}
.menu__useUl::after {
	content: '';
	position: absolute;
	top: -1.25em;
	border: 0.625em solid transparent;
	border-bottom: 0.625em solid var(--border);
}
.menu__btn {
	width: 100%;
	height: 100%;
	position: relative;
	border: 0;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	padding: 0;
}
.menu__btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.menu__btnIcon {
	width: 1.125em;
}
.menu__bar {
	width: 1.875em;
	height: 0.25em;
	position: relative;
	margin: 0 auto;
	border-radius: 0.625em;
	background-color: var(--barMenu);
}
.menu__bar::after,
.menu__bar::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(0.5em);
	background: var(--barMenu);
	border-radius: 0.625em;
	transition: transform 0.3s, background 0.3s;
}
.menu__bar::before {
	transform: translateY(-0.5em);
}
.menu__bar--show {
	background-color: transparent;
}
.menu__bar--show::after {
	transform: translateY(0) rotate(45deg);
}
.menu__bar--show::before {
	transform: translateY(0) rotate(-45deg);
}
.menu__menu {
	width: 100%;
	transform: translateY(-0.625em);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
}
@media screen and (min-width: 768px) {
	.menu__menu {
		width: calc(100% - 3.75em);
	}
}
.menu__menu--show {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
@media screen and (min-width: 768px) {
	.menu__menu {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}
.menu__ul {
	width: 100%;
	position: relative;
	padding: 0.625em;
	list-style: none;
	border-radius: 0.3125em;
	border: 0.125em solid var(--border);
	background: var(--background);
}
.menu__ul::after {
	content: '';
	position: absolute;
	top: -1.25em;
	right: 50%;
	transform: translateX(-50%);
	border: 0.625em solid transparent;
	border-bottom: 0.625em solid var(--border);
}
@media screen and (min-width: 768px) {
	.menu__ul {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1em;
		border-radius: 0.3125em;
		border: 0;
		background: none;
		margin: 0;
	}
	.menu__ul::after {
		display: none;
	}
}
.menu__a {
	width: 100%;
	padding: 0.3125em 0;
	font-weight: bold;
	transform: translateX(0);
	transition: transform 0.3s;
}
.menu__a--disable {
	color: var(--border);
}
@media (hover: hover) {
	.menu__a:hover {
		transform: translateX(0.3125em);
	}
}
@media screen and (min-width: 768px) {
	.menu__a {
		transform: translateY(0);
	}
	.menu__a:hover {
		transform: translateY(-0.1875em);
	}
}
@media (prefers-reduced-motion: reduce) {
	@media (hover: hover) {
		.menu__a:hover {
			transform: translateX(0);
		}
	}
}
